atomicwrites==1.4.0
attrs==20.3.0
certifi==2025.1.31
chardet==5.2.0
colorama==0.4.4
coverage==7.8.0
idna==3.10
iniconfig==1.1.1
mock==4.0.3
packaging==22
pluggy==1.5
py==1.11.0
pyparsing==2.4.7
pytest==9.0.2
pytest-cov==6.1.0
requests==2.32.3
setuptools==78.1.0
toml==0.10.2
urllib3==2.3.0
pyowm~=3.5.0